/*
 * Row with equal height columns
 * --------------------------------------------------
 */

.add-check .active:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e013";
}

.dropzone {
    overflow: auto;
    height: 100%;
    width: 95%;
    position:absolute;
    z-index:10;
    border:0px;
    background:none;
    padding: 15px 20px !important;
}   

.dz-preview {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
